* {
    margin: 0;
    padding: 0;
}
.goods-wrap {
    background-color: rgb(32, 93, 12);
    padding: 20px;
    font-weight: 500;
    font-size: 14px;
}
.goods-wrap li {
    max-width: 400px;
    margin-bottom: 10px;
    padding: 10px;
    background: rgb(29, 185, 58);
    border-radius: 6px;
    list-style-type: none;
}
.goods-wrap li p:first-child {
    font-size: 15px;
    font-weight: 500;
}
.goods-wrap .btn {
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    background-color: rgb(22, 86, 233);
    border-radius: 6px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 14px;
}